@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@900&display=swap');

html {
  overflow-x: hidden;

  background-color: #4b5668;
  background-size: 400% 400%;
  height: 415vh;
}

h1 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 80px;
  margin: 0;
  text-shadow: 4px 4px 8px rgb(171, 171, 171);
}

#click-pdf {
  color: white;
}

#click-pdf:hover {
  color: rgb(193, 193, 193);
}

#resume-text {
}

.tablet-header {
  margin: 0;
  padding: 0;
  font-size: 60px;
}

.tablet-description {
  margin: 0;
  font-size: 60px;
}

#name {
  left: 5%;
  top: 5%;
  width: 50%;
}

#subtext {
  position: absolute;
  left: 5%;
  top: 40%;
  text-shadow: 2px 2px 3px rgb(171, 171, 171);

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  animation: 
    typing 5s steps(50, end),
    blink-caret .6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#about-me {
  left: 5%;
  top: 105%;
  width: 50%;
}

#contact-container {
  position: absolute;
  top: 375%;
  width: 100%;
  height: 40%;
}

#contact {
  left: 5%;
}

.contact-info {
  position: relative;
  top: 50%;
  left: 7%;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Inter';
  color: white;
}

h3 {
  font-family: 'Inter';
  color: white;
}

.social-link {
  display: flex;
  width: 11%;
  height: 11%;
  transition: 0.2s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  border-radius: 15%;
	transform: scale(1);
	animation: pulse 2s;
}

.social-link:hover {
  background-color: rgba(215, 215, 215, 0.292);
}

#links-container {
  position: absolute;
  top: 9%;
  right: 4.5%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.logos {
  width: 100%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 0;
}

.tablet-header {
  position: relative;
}

.tablet-subtext {
  position: relative;
  color: white;
  margin: 0;
}

.tablet {
  position: absolute;
  width: 20%;
  height: 100%;
  border-radius: 15%;
}

ul {
  color: white;
  overflow-wrap: break-word;

  width: 25%;
}

/* Z INVESTOR SECTION */
#zinvestor-container {
  height: 60%;
  width: 150%;
  position: absolute;
  top: 140%;
}

#zinvestor-title {
  left: 32%;
  color: white;
}

#zinvestor-subtext {
  left: 32%;
}

#zinvestor-tablet {
  position: absolute;
  background-color: white;
  left: 8%;

  box-shadow: 0px 0px 3px white;
  transition: 0.25s;
  border-radius: 25px;
}

#zinvestor-tablet:hover {
  box-shadow: 0px 0px 6px white;
}

#zinvestor-bullet {
  position: absolute;
  font-family: 'Belleza';
  font-size: x-large;
  left: 31%;
}

/* POWERLIFTING SECTION */
#powerlifting-container {
  height: 60%;
  width: 150%;
  position: absolute;
  top: 220%;
}

#powerlifting-title {
  left: 8%;
  color: white;
}

#powerlifting-subtext {
  left: 8%;
}

#powerlifting-tablet {
  position: absolute;
  background-color: white;
  left: 35%;

  box-shadow: 0px 0px 3px white;
  transition: 0.25s;
  border-radius: 25px;
}

#powerlifting-tablet:hover {
  box-shadow: 0px 0px 6px white;
}

#powerlifting-bullet {
  position: absolute;
  font-family: 'Belleza';
  font-size: x-large;
  left: 7%;
}

/* PROGRAMMING SECTION */
#programming-container {
  height: 60%;
  width: 150%;
  position: absolute;
  top: 300%;
}

#programming-title {
  left: 32%;
  color: white;
}

#programming-subtext {
  left: 32%;
}

#programming-tablet {
  position: absolute;
  background-color: white;
  left: 8%;

  box-shadow: 0px 0px 3px white;
  transition: 0.25s;
  border-radius: 25px;
}

#programming-tablet:hover {
  box-shadow: 0px 0px 6px white;
}

#programming-bullet {
  position: absolute;
  font-family: 'Belleza';
  font-size: x-large;
  left: 31%;
}

/* POWERLIFTING PHOTOS */
.powerlifting-photo {
  border-radius: 10%;
}

#bench {
  position: absolute;
  z-index: 80;
  width: 55%;
  height: 40%;
  bottom: 0%;
  left: 0%;
}

#squat {
  position: absolute;
  width: 57.5%;
  height: 100%;
  top: 0%;
  right: 0%;
}

#deadlift {
  position: absolute;
  width: 45.5%;
  height: 72%;
}

/* Z INVESTOR PHOTOS */
.zinvestor-thumbnail {
  position: absolute;
  width: 45%;
  height: 28%;
}

#zinvestor-logo-tablet {
  position: absolute;
  border-radius: 10%;
  top: 5%;
  left: 5%;
  width: 30%;
  height: 30%;
}

#zinvestor-dash {
  position: absolute;
  transform: rotate(12.5deg);
  top: 15%;
  right: 6%;
  width: 55%;
  height: 22.5%;
  box-shadow: 10px 10px solid black;
}

#zinvestor-thumbnail1 {
  top: 45%;
  left: 17.5%;
}

#zinvestor-thumbnail2 {
  top: 55%;
  left: 27.5%;
}

#zinvestor-thumbnail3 {
  top: 65%;
  left: 37.5%;
}

/* PROGRAMMING PHOTOS */
.programming-photo {
  position: absolute;
  border-radius: 10%;
}

#title-screen {
  z-index: 80;
  height: 55%;
  width: 50%;
}

#gameplay-image {
  z-index: 80;
  right: 0%;
  height: 55%;
  width: 50%;
}

#text-reader {
  bottom: 0%;
  height: 60%;
  width: 100%;
}

#scroll {
  position: absolute;
  top: 70%;
  right: 10%;
  transform: rotate(10deg);
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}